<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="updateDaemon" type="BBI.JD.UpdateDaemon, UpdateManager" />
  </configSections>
  
  <appSettings>
    <add key="pathVersionControl" value="\\10.72.221.15\aplicaciones\RevitAddins\addins.ver" />
    <add key="disableOldAddin" value="True" />
    <add key="plannedUpdate" value="False" />
  </appSettings>

  <updateDaemon>
    <addinsUpdate>
    </addinsUpdate>
  </updateDaemon>
  
</configuration>